<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Desafio Técnico Port Louis</title>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.5.11/dist/vuetify.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/vuetify@3.5.11/dist/vuetify.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Sigmar+One&display=swap"
      rel="stylesheet"
    />

    <style>
      #app {
        font-family: 'Inter', sans-serif;
      }
      .sigmar-one-regular {
        font-family: 'Sigmar One', sans-serif;
        font-weight: 400;
        font-style: normal;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <v-app theme="dark">
        <v-app-bar flat class="border-b" title="Port Louis">
          <v-dialog max-width="600" v-model="dialog">
            <template v-slot:activator="{ props: activatorProps }">
              <v-btn v-bind="activatorProps" icon="mdi-plus"></v-btn>
            </template>
            <v-card prepend-icon="mdi-account" title="Adicionar Usuário">
              <v-card-text>
                <v-row dense>
                  <v-col>
                    <v-text-field
                      hint="Mínimo de 2 palavras de 3 letras cada"
                      label="Nome"
                      v-model="nome"
                      required
                      :rules="validaNome"
                    ></v-text-field>
                  </v-col>
                  <v-col>
                    <v-text-field
                      label="Telefone"
                      v-model="telefone"
                      required
                      :rules="validaTelefone"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-card-text>
              <v-divider></v-divider>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="red-darken-1"
                  text="fechar"
                  variant="tonal"
                  @click="dialog = false"
                ></v-btn>
                <v-btn
                  color="indigo-lighten-3"
                  text="salvar"
                  variant="tonal"
                  :disabled="!nome || !telefone"
                  @click="salvarContato"
                ></v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-app-bar>
        <v-main> </v-main>
      </v-app>
    </div>
  </body>
  <script>
    const { createApp, ref } = Vue
    const { createVuetify } = Vuetify

    const vuetify = createVuetify()

    createApp({
      setup() {
        const dialog = ref(false)
        const nome = ref('')
        const telefone = ref('')

        const validaNome = () => {
          const palavra = nome.value.trim().split(' ')
          if (palavra.length < 2 || palavra.some((word) => palavra.length < 3)) {
            showError('O nome deve conter no mínimo duas palavras de no mínimo 3 letras cada.')
            return false
          }
          return true
        }

        const validaTelefone = () => {
          const telefoneRegex = /^\(\d{2}\) \d{4}-\d{4}$/
          if (!telefoneRegex.test(telefone.value)) {
            showError('Formato de telefone inválido. Use (xx) xxxx-xxxx.')
            return false
          }
          return true
        }

        const showError = (message) => {
          alert(message)
        }

        const salvarContato = () => {
          if (validaNome() && validaTelefone()) {
            dialog = false
          }
        }

        return {
          dialog,
          nome,
          telefone,
          salvarContato,
          validaTelefone,
          validaNome,
        }
      },
    })
      .use(vuetify)
      .mount('#app')
  </script>
</html>
