<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/maska@2/dist/maska.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.5.11/dist/vuetify.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/vuetify@3.5.11/dist/vuetify.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <v-app theme="dark">
        <v-toolbar flat>
          <v-toolbar-title>Meus Contatos</v-toolbar-title>
          <v-divider class="mx-2" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{ props }">
              <v-btn class="mx-4" dark variant="tonal" v-bind="props"
                >adicionar</v-btn
              >
            </template>
            <v-card>
              <v-card-title>
                <span class="text-h5">Adicionar novo contato</span>
              </v-card-title>
              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col>
                      <v-text-field
                        v-model="nome"
                        label="Nome"
                        required
                        variant="underlined"
                        :color="validaNome() ? '' : 'red-darken-1'"
                        :hint="validaNome() ? '' : 'Mínimo de 2 palavras de 3 letras cada'"
                      ></v-text-field>
                    </v-col>
                    <v-col>
                      <v-text-field
                        v-model="telefone"
                        label="Telefone"
                        required
                        variant="underlined"
                        :color="validaTelefone() ? '' : 'red-darken-1'"
                        :hint="validaTelefone() ? '' : 'Formato de telefone inválido. Use (xx) xxxx-xxxx'"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="red-darken-1"
                  variant="text"
                  @click="dialog = false"
                  >fechar</v-btn
                >
                <v-btn
                  color="blue-darken-1"
                  variant="text"
                  :disabled="!validaNome() || !validaTelefone()"
                  @click="adicionarContato"
                >
                  adicionar
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
        <v-data-table
          :items="contatos"
          :item-key="nome"
          :headers="headers"
          style="height: 100%"
        >
          <template v-slot:item="{ item }">
            <tr :class="{'blue-row': item.telefone.includes('(11)')}">
              <td>{{ item.nome }}</td>
              <td>{{ item.telefone }}</td>
              <td>
                <v-icon class="me-2" size="small" @click="editaContato(item)"
                  >mdi-pencil</v-icon
                >
                <v-dialog v-model="dialogDelete" width="fit-content">
                  <v-card>
                    <v-card-title>Confirmar remoção de contato?</v-card-title>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="red" @click="dialogDelete=false"
                        >Cancelar</v-btn
                      >
                      <v-btn color="success" @click="deletaContato(removeContato)">Confirmar</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <v-icon size="small" @click="opcaoContatoDeletar(item)"
                  >mdi-delete</v-icon
                >
                <v-dialog v-model="dialogEdicao" max-width="500px">
                  <v-card>
                    <v-card-title>Editar contato</v-card-title>
                    <v-card-text>
                      <v-text-field
                        v-model="contatoEditado.nome"
                        label="Nome"
                      ></v-text-field>
                      <v-text-field
                        v-model="contatoEditado.telefone"
                        label="Telefone"
                      ></v-text-field>
                    </v-card-text>
                    <v-card-actions>
                      <v-btn
                        color="success"
                        @click="salvarContatoEditado(contatoEditado)"
                        >Salvar Contato</v-btn
                      >
                      <v-btn color="red" @click="dialogEdicao = false"
                        >Fechar</v-btn
                      >
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </td>
            </tr>
          </template>
        </v-data-table>
      </v-app>
    </div>
  </body>

  <script>
    const { createApp, ref } = Vue;
    const { createVuetify } = Vuetify;

    const vuetify = createVuetify();

    createApp({
      setup() {
        const dialog = ref(false);
        const dialogEdicao = ref(false);
        const dialogDelete = ref(false);
        const contatoEditado = ref({});
        const removeContato = ref({});
        const nome = ref("");
        const telefone = ref("");
        const headers = [
          {
            title: "Nome",
            align: "start",
            key: "nome",
            align: "center",
            width: "30%",
          },
          {
            title: "Telefone",
            key: "telefone",
            align: "center",
            sortable: false,
            width: "30%",
          },
          {
            title: "",
            key: "acao",
            sortable: false,
            align: "center",
            width: "20%",
          },
        ];

        const contatos = ref([
          {
            nome: "Carlos Mesquita",
            telefone: "(11) 8230-3693",
          },
          {
            nome: "John Doe",
            telefone: "(91) 8755-7027",
          },
          {
            nome: "Clara Silva",
            telefone: "(95) 9234-5966",
          },
          {
            nome: "Lucas Costa",
            telefone: "(11) 9234-5966",
          },
        ]);

        function adicionarContato() {
          const telefoneFormatado = `(${telefone.value.slice(
            0,
            2
          )}) ${telefone.value.slice(2, 6)}-${telefone.value.slice(6)}`;
          contatos.value.push({
            nome: nome.value,
            telefone: telefoneFormatado,
          });
          nome.value = "";
          telefone.value = "";
          dialog.value = false;
        }

        function validaNome() {
          const palavras = nome.value.trim().split(" ");
          if (
            palavras.length < 2 ||
            palavras.some((palavra) => palavra.length < 3)
          ) {
            return false;
          }
          return true;
        }

        function validaTelefone() {
          return telefone.value.length == 10;
        }

        function opcaoContatoDeletar(pessoa) {
          removeContato.value = { ...pessoa };
          dialogDelete.value = true;
        }

        function deletaContato(removeContato) {
          const index = contatos.value.findIndex(
            (item) =>
              item.nome === removeContato.nome && item.telefone === removeContato.telefone
          );
          if (index !== -1) {
            contatos.value.splice(index, 1)
          }
          dialogDelete.value = false;
        }

        function editaContato(pessoa) {
          contatoEditado.value = { ...pessoa };
          dialogEdicao.value = true;
        }

        function salvarContatoEditado(contatoEditado) {
          const index = contatos.value.findIndex(
            (contato) =>
              contato.nome === contatoEditado.nome &&
              contato.telefone === contatoEditado.telefone
          );
          dialogEdicao.value = false;
        }

        return {
          headers,
          contatos,
          dialog,
          dialogEdicao,
          dialogDelete,
          nome,
          telefone,
          contatoEditado,
          removeContato,
          adicionarContato,
          validaNome,
          validaTelefone,
          deletaContato,
          editaContato,
          salvarContatoEditado,
          opcaoContatoDeletar
        };
      },
    })
      .use(vuetify)
      .mount("#app");
  </script>

  <style>
    * {
      font-family: "Poppins", sans-serif;
    }
    .blue-row {
      background: rgb(16, 135, 195);
    }
  </style>
</html>
